body {
    margin: 0;
    padding: 0;
    font-family: Open Sans, sans-serif;
    background-color: #2E8B57; /* Hijau gelap */
    color: #000; /* Hitam */
}

header {
    background-color: #006400; /* Hijau tua */
    color: #fff;
    padding: 20px;
    text-align: center;
}

.logo img {
    width: 90px; /* Sesuaikan ukuran logo sesuai kebutuhan */
    height: auto;
}

nav {
    background-color: #228B22; /* Hijau */
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

footer {
    background-color: #006400; /* Hijau tua */
    color: #fff;
    padding: 3px;
    text-align: center;
}
